# Core parsing, because community loaders are trash
PyMuPDF>=1.24.2
pdfplumber==0.11.0

# Vector DB & Embeddings
qdrant-client>=1.9.0
sentence-transformers>=3.0.0
fastembed>=0.5.0

# LangGraph & Logic
langchain
langgraph
langchain-openai
langchain-qdrant
python-dotenv

biopython>=1.83
